page-weather {
	ion-content{
		background-color: #e5e5e5 !important;
	}
	ion-card{
		border-radius: 15px !important;
	}
	
	ion-card-header{
		padding: 0px !important;
		h1{
			margin-top: 10px !important;
			text-align: center;
		}
		.icoWeather{
			height: 50%;
			text-align: center;
			.imgWeather{
				width: auto;
				height: 100%;
				margin: auto;
			}
		}
	}
	ion-card-content{
		text-align: center;
	}
}
